* {
  box-sizing: border-box;
}

body {
  background: #e5eff0;

  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  height: 100vh;
  padding: 20px;
}

.slider__button {
  border: none;
  background: #ddd;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: absolute;
  bottom: -85px;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 600;
}

.slider__button:active {
  background: #000;
  color: #fff;
}

.slider {
  position: relative;
  height: 600px;
  width: 1200px;
  box-sizing: content-box;
}

.slider__wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.slider__line {
  position: absolute;
  display: flex;
  width: fit-content;
  flex-grow: 0;
  user-select: none;
  touch-action: none;
  height: 100%;
  gap: 20px;
}

.slider__item {
  flex-shrink: 0;
  height: 100%;
  width: 600px;
  max-width: calc(100vw - 40px);
  border-radius: 32px;
  background-position: center;
}

.slider__button--prev {
  left: 0;
}

.slider__button--next {
  right: 0;
}
