* {
  box-sizing: border-box;
}

body {
  background: #8aa8cf;

  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  height: 100vh;
  padding: 20px;
}

.slider__button {
  border: none;
  background: #ddd;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: absolute;
  bottom: -130px;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 50px;
}

.slider__button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 50%;
  background-image: url('./arrow.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.slider__button--next span {
  transform: translate(-50%, -50%) rotate(90deg);
}

.slider__button--prev span {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.slider {
  position: relative;
  height: 600px;
  width: 1240px;
  box-sizing: content-box;
}

.slider__wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.slider__line {
  position: absolute;
  display: flex;
  width: fit-content;
  flex-grow: 0;
  user-select: none;
  touch-action: none;
  height: 100%;
  gap: 20px;
}

.slider__item {
  flex-shrink: 0;
  height: 100%;
  width: 600px;
  max-width: calc(100vw - 40px);
  border-radius: 32px;
  background-position: center;
}

.slider__button--prev {
  right: 150px;
}

.slider__button--next {
  right: 20px;
}
